/* 
.services-container {
  margin: 5rem;
  border: 3px solid red;
  width: 100%;
}

.service-type--container {
  display: flex;
  position: relative;
  margin: 2rem;
  border: 1px solid black;
}
.service {
  padding: 0rem 0rem 4rem 0rem;
  background-color: rgba(217, 217, 217, 0.335);
}
.service img {
  height: 50%;
  width: 100%;
  object-fit: cover;
  border-radius: 2rem;
} */
/* ############### */
/* @import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,600,700,900); */
body {
  /* background: #dce1df; */
  background-color: #efefef;

  /* color: #4f585e; */
  /* font-family: "Source Sans Pro", sans-serif; */
  /* text-rendering: optimizeLegibility; */
}
a.btn {
  background: var(--blue--primary);
  border-radius: 4px;
  box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.25);
  color: #ffffff;
  display: inline-block;
  padding: 6px 30px 8px;
  position: relative;
  text-decoration: none;
  transition: all 0.1s 0s ease-out;
}
.no-touch a.btn:hover {
  background: #00a2ad;
  box-shadow: 0px 8px 2px 0 rgba(0, 0, 0, 0.075);
  transform: translateY(-2px);
  transition: all 0.25s 0s ease-out;
}
.no-touch a.btn:active,
a.btn:active {
  background: #008a93;
  box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.25);
  transform: translate3d(0, 1px, 0);
  transition: all 0.025s 0s ease-out;
}

.cards {
  display: flex;
  gap: 5rem;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* max-width: 960px; */
  text-align: center;
  position: relative;
  top: -4rem;
}
.card {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin: 8px; */
  /* max-width: 300px; */
  /* perspective: 1000; */
  position: relative;
  /* text-align: left; */
  transition: all 0.3s 0s ease-in;
  width: 30rem;
  height: 40rem;
  /* z-index: 1; */
  box-shadow: rgb(0, 0, 0, 0.12) 0px 6px 13px 2px;
}
div.card img {
  /* max-width: 300px; */
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
}
div.card .card__image-holder {
  background: rgba(0, 0, 0, 0.1);
  /* height: 0; */
  /* padding-bottom: 75%; */
  width: 100%;
  height: ;
}
div.card div.card-title {
  background: #ffffff;
  padding: 6px 15px 10px;
  position: relative;
  /* z-index: 0; */
  cursor: pointer;
  /* height: 66px; */
}
div.card div.card-title a.toggle-info {
  border-radius: 32px;
  height: 32px;
  padding: 0;
  position: absolute;
  right: 15px;
  top: 10px;
  width: 32px;
}
div.card div.card-title a.toggle-info span {
  background: #ffffff;
  display: block;
  height: 2px;
  position: absolute;
  top: 16px;
  transition: all 0.15s 0s ease-out;
  width: 12px;
}
div.card div.card-title a.toggle-info span.left {
  right: 14px;
  transform: rotate(45deg);
}
div.card div.card-title a.toggle-info span.right {
  left: 14px;
  transform: rotate(-45deg);
}
div.card div.card-title h2 {
  font-size: 3.8rem;
  color: rgb(58, 58, 58);
  font-weight: 500;
  letter-spacing: -0.05em;
  margin: 0;
  padding: 1.5rem 0;
}
div.card div.card-title h2 small {
  display: block;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.025em;
}
div.card div.card-description {
  padding: 0 15px 10px;
  box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.075);
  position: relative;
  font-size: 14px;
}
div.card div.card-actions {
  /* box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.075); */
  padding: 10px 15px 20px;
  text-align: center;
}
div.card div.card-flap {
  background: #d9d9d9;
  /* position: absolute; */
  position: relative;
  display: none;
  width: 100%;
  transform-origin: top;
  transform: rotateX(-90deg);
  box-shadow: rgb(0, 0, 0, 0.12) 0px 6px 13px 2px;
}
div.card div.flap1 {
  transition: all 0.3s 0s ease-out;
  z-index: -1;
}
div.card div.flap2 {
  transition: all 0.3s 0s ease-out;
  z-index: -2;
}
div.cards.showing div.card {
  cursor: pointer;
  opacity: 0.6;
  transform: scale(0.88);
}
.no-touch div.cards.showing div.card:hover {
  opacity: 0.94;
  transform: scale(0.92);
}
div.card.show {
  opacity: 1 !important;
  transform: scale(1) !important;
}
div.card.show div.card-title a.toggle-info {
  background: var(--red--primary) !important;
}
div.card.show div.card-title a.toggle-info span {
  top: 15px;
}
div.card.show div.card-title a.toggle-info span.left {
  right: 10px;
}
div.card.show div.card-title a.toggle-info span.right {
  left: 10px;
}
div.card.show div.card-flap {
  background: #ffffff;
  transform: rotateX(0deg);
}
div.card.show div.flap1 {
  transition: all 0.3s 0s ease-out;
}
div.card.show div.flap2 {
  transition: all 0.3s 0.2s ease-out;
}

.services--info {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 0 0 10rem 0; */
  gap: 4rem;
}

.services--info h2 {
  font-size: 8rem;
}
.services--contact {
  font-size: 6rem;
  width: 100%;
  /* height: 20rem; */
  /* background-color: #4f4f4f80; */
  margin-bottom: 0;
  color: #fff;
}
.services--contact a,
.services--contact h3 {
  font-size: 6rem;
  display: block;
  padding: 10px 25px;
}

.services--contact a:link,
.services--contact a:visited {
  color: #fff;
  text-decoration: none;
}

.custom-btn {
  /* width: 100%; */
  color: #fff;
  border-radius: 5px;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}

.btn-11 {
  border: none;
  /* background: rgb(251, 33, 117);
  background: linear-gradient(
    0deg,
    rgba(251, 33, 117, 1) 0%,
    rgba(234, 76, 137, 1) 100%
  ); */
  background-color: var(--red--primary);
  color: #fff;
  overflow: hidden;
}
.btn-11:hover {
  text-decoration: none;
  color: #fff;
}
.btn-11:before {
  position: absolute;
  content: "";
  display: inline-block;
  top: -180px;
  left: 0;
  width: 30px;
  height: 100%;
  background-color: #fff;
  animation: shiny-btn1 3s ease-in-out infinite;
}
.btn-11:hover {
  opacity: 0.7;
}
.btn-11:active {
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.3),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, 0.2);
}

@-webkit-keyframes shiny-btn1 {
  0% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0;
  }
  80% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0.5;
  }
  81% {
    -webkit-transform: scale(4) rotate(45deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(50) rotate(45deg);
    opacity: 0;
  }
}
